.like-button {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* ▼ WHERE YOUR CODE BEGINS */
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 840px;
  height: 248px;
  padding: 24px;
  background-color: blanchedalmond;
}

.card-image {
  position: relative;
  width: 300px;
  height: 200px;
  background-image: url(./assets/img-house.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 24px;
}

.card-image .like-button {
  position: absolute;
  top: 12px;
  left: 12px;
  width: 36px;
  height: 36px;
  border: none;
  border-radius: 50%;
  background-image: url(./assets/icon-favorite.svg);
  background-repeat: no-repeat;
  background-size: 75% 75%;
  background-position: center center;
}

.card-content {
  display: flex;
  flex-direction: column;
}

.card-header {
  display: flex;
  justify-content: space-between;
}

.property-type span {
  font-weight: 400;
  color: #7d858f;
}

.plus-badge {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 22px;
  background-color: #92174d;
  border-radius: 4px;
  color: white;
  font-weight: 500;
}

.property-rate strong::before {
  content: "";
  display: inline-block;
  background-image: url("./assets/icon-star.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 15px;
  height: 15px;
}

.property-rate span {
  color: #7d858f;
}
